@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Agrandir";
    font-weight: 400;
    src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Agrandir";
    font-weight: 700;
    src: url("../fonts/Agrandir-TextBold.otf") format("opentype");
}

@font-face {
    font-family: "Agrandir";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Agrandir-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Telegraf";
    font-weight: 400;
    src: url("../fonts/Telegraf-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Telegraf";
    font-weight: 700;
    src: url("../fonts/Telegraf-Bold.otf") format("opentype");
}